@import '../../constants'
buttonBorderSize = 4px

.Button
  border-radius 2px
  cursor pointer
  transition background transitionSpeed

  &.solid
    color white
    background linear-gradient(colorBlueLight, colorBlue)
    border-bottom buttonBorderSize solid colorBlueDark

    &:hover
      background linear-gradient(colorBlueLight, colorBlueLight)
