@import '../../constants'

.DescriptionSection
  position relative
  padding-bottom 100px
  color colorPinkLight

  .trees
    position absolute
    width 100%
    bottom -1px

  .title
    margin-bottom 45px

  .text
    padding websitePadding
    line-height 2

    .description
      text-align center
      max-width 500px
      margin 0 auto
