@import '../../constants'

.DescriptionSection
  position relative
  padding-bottom 100px
  color colorPinkLight

  .trees
    position absolute
    width 100%
    bottom 0

  .title
    margin-bottom 45px

  .text
    padding websitePadding * 2
    line-height 2

    .description
      text-align center

