@import '../../constants'

.SponsorSection
  background linear-gradient(colorBlueDark, colorBlueDarker 15%, colorBlueDarkest)
  position relative
  color white
  padding websitePadding
  overflow hidden

  .anchor
    position absolute
    right 15%
    bottom -6px
    transform rotate(30deg)
    width 70px
    opacity 0.4

    @media mediaPhone
      bottom 5px
      width 30px

  .subtitle
    margin-top 30px
    text-align center

    .sponsor-cta
      font-weight 700
      transition border-bottom transitionSpeed
      border-bottom 1px dotted rgba(white, 0.3)

      &:hover
        border-bottom 1px dotted rgba(white, 0.7)

  .prev-sponsors
    line-height 2
    margin 20px auto
    max-width 1000px
    overflow hidden
    text-align center

    li
      opacity 0.7
      display inline-block
      margin-right 20px

      &:not(:last-child)::after
        content '•'
        margin-left 20px

  .squid
    height: 200px
    opacity: 0.4
    position: absolute
    margin-top: 60%

  .tiers
    margin-top 20px
    text-align center

    img
      width 45%
      display inline-block
      vertical-align middle
      margin 3%

    li
      transition background transitionSpeed
      cursor pointer
      background rgba(white, 0.2)
      display inline-block
      width 100%
      height 100%
      border-radius 2px

      &:hover
        background rgba(white, 0.1)

    .platinum
      img
        width 50%

    .gold
      img
        width 30%

      .extraSmall
        width 15%

    .silver
      img
        width 17%

    .bronze
      img
        width 10%

      .extraLarge
        width 15%

    .partners
      img
        width 15%

@media mediaPhone
  .tiers
    img
      margin-right auto
      margin-left auto

  .platinum
    img
      width 90%!important

  .gold
    img
      width 70%!important

    .extraSmall
      width 50%!important

  .silver
    img
      width 35%!important

  .bronze
    img
      width 20%!important

  .partners
    img
      width 35%!important
