@import '../../constants'

.SponsorSection
  position relative
  color white
  padding websitePadding
  overflow hidden

  .title
    color colorGray

  .subtitle
    margin-top 30px
    text-align center

    .sponsor-cta
      font-weight 700
      transition border-bottom transitionSpeed
      border-bottom 1px dotted rgba(white, 0.3)

      &:hover
        border-bottom 1px dotted rgba(white, 0.7)

  .prev-sponsors
    line-height 2
    margin 20px auto
    max-width 1000px
    overflow hidden
    text-align center

    li
      opacity 0.7
      display inline-block
      margin-right 20px

      &:not(:last-child)::after
        content '•'
        margin-left 20px

  .tiers
    margin-top 20px
    text-align center

    img
      width 45%
      display inline-block
      vertical-align middle
      margin 3%

    li
      transition background transitionSpeed
      cursor pointer
      background rgba(white, 0.2)
      display inline-block
      width 100%
      height 100%
      border-radius 2px

      &:hover
        background rgba(white, 0.1)

    a
      max-width 100%
      height 200px
      padding 5px
      display inline-block

    .platinum
      img
        width 65%

    .gold
      img
        width 40%

    .silver
      img
        width 20%

    .bronze
      img
        width 15%


        @media all and (max-width: 460px)
          width 100%
