@import '../../constants'

.FAQSection
  background linear-gradient(colorBlue, colorBlueDark)
  color white
  position relative

  .section.title
    top 10px
    position absolute

  .faqs
    padding websitePadding * 3 websitePadding websitePadding websitePadding

    .faq
      display inline-block
      width 50%
      vertical-align top
      padding websitePadding

      @media mediaPhone
        display block
        width 100%
        padding 0

      .qa
        margin-top 20px
