@import '../../constants'

.FAQSection
  background linear-gradient(colorBlue, colorBlueDark)
  color white
  padding websitePadding
  position relative

  .section.title
    top 10px
    position absolute

  .faq
    margin-top 40px