@import '../../constants'

.FAQSection
  background linear-gradient(rgb(0, 178, 226), rgb(0, 129, 189))
  color white
  padding websitePadding
  position relative

  .section.title
    top 10px
    position absolute

  .faq
    margin-top 30px