@import '../../constants'

.FooterSection
  .footer
    padding websitePadding * 2
    color colorWhiteDark

  .main.footer
    background colorGray

    .col
      display inline-block
      width 33.3%
      vertical-align top

      &.logo
        text-align center

      .title
        font-size fontSizeNormal
        color colorGrayLight
        font-weight 700
        margin-bottom 5px

    .organizers
      .organizers-list
        height 100px

        li
          display inline-block
          width 50%
          float left

  .sub.footer
    padding websitePadding
    background colorGrayDark
    text-align center
    color white

    .love
      margin-bottom websitePadding

      .red
        color colorPinkLight

    .TOS
      font-size fontSizeSmall
      color colorGrayLight

