@import '../../constants'
timeSize = 50px

.ScheduleSection
  position relative
  background linear-gradient(colorPurpleLight, colorPurple)
  color white

  .section.title
    margin-left websitePadding
    padding-top websitePadding

  .days
    padding-bottom 80px

    .day
      display inline-block
      width 50%
      padding 0 websitePadding

      .day-title
        margin-bottom 20px

      .events
        margin-left 10px

        .event
          margin-bottom 20px

          .time
            width timeSize
            height timeSize
            display inline-block
            text-align center
            border 2px solid colorBlueLight
            border-radius 50%
            line-height 1

            .number
              font-size 26px
              font-weight 700
              margin-top 4px

            .period
              text-transform uppercase
              font-size 12px

          .event-title
            padding-top 10px
            margin-left 30px
            vertical-align top
            display inline-block
            font-size fontSizeLarge

  .water
    position absolute
    width 100%
    bottom 0
