centerSize = 300px

.SplashSection
  height 90 vh
  background linear-gradient(rgb(235, 30, 122), rgb(239, 83, 82))
  color white

  .center
    text-align center
    height centerSize
    width centerSize
    position absolute
    left 50%
    top 50%
    margin-left -(centerSize / 2)
    margin-top -(centerSize / 2)