@import '../../constants'
centerSize = 300px

.SplashSection
  height 90 vh
  background linear-gradient(colorPink, colorPinkLight)
  color white

  .center
    text-align center
    height centerSize
    width centerSize
    position absolute
    left 50%
    top 50%
    margin-left -(centerSize / 2)
    margin-top -(centerSize / 2)

    .logo
      width 100%

    .subtitle
      margin-top 10px

  .skyline
    width 100%
    position absolute
    bottom 0
