@import '../../constants'

.Page
  .page-section
    width 100%
    font-family 'Proxima Nova', sans-serif
    line-height 1.5

  .section.title
    font-size fontSizeXLarge
    transform skewY(-7deg)
