// # Where all CSS constants go

// ## Colors

colorPink = rgb(235, 30, 122)
colorPinkLight = rgb(239, 83, 82)
colorBlueDark = rgb(0, 114, 173)
colorBlue = rgb(23, 155, 210)
colorBlueLight= rgb(44, 175, 230)

// ## Fonts
@font-face
  font-family 'Proxima Nova'
  font-style normal
  font-weight 400
  src local('Proxima Nova Regular'), local('ProximaNova-Regular'), url(http://themes.googleusercontent.com/licensed/font?kit=3qINvnjb346LubKDfLRn64nF5uFdDttMLvmWuJdhhgs) format('truetype')


// ## Transitions
transitionSpeedSlow = 400ms
transitionSpeed = 200ms
transitionSpeedFast = 100ms
