// # Where all CSS constants go

// ## Colors

colorPink = rgb(235, 30, 122)
colorPinkLight = rgb(239, 83, 82)
colorBlueDark = rgb(0, 114, 173)
colorBlue = rgb(23, 155, 210)
colorBlueLight= rgb(44, 175, 230)


// Transitions
transitionSpeedSlow = 400px
transitionSpeed = 200px
transitionSpeedFast = 100px
