.HeaderSection
  padding 15px 15px 10px 15px

  .logo
    display inline-block
    margin-left 10px
    width 120px

  .nav
    display inline-block
    vertical-align top

    li
      display inline-block
      margin-left 30px

      .Button
        padding 10px 20px
        font-size 20px

        &:hover:not(.solid)
          background #eee

  .social-buttons
    float right
    display inline-block

    li
      display inline-block
      margin-left 30px

      .Button
        padding 10px

        .icon
          width 25px
          vertical-align middle