.HeaderSection
  padding 20px

  .logo
    display inline-block

  .nav
    display inline-block

    li
      display inline-block
      margin-left 30px

      .Button
        padding 10px 20px
        font-size 20px

  .social-buttons
    float right
    display inline-block

    li
      display inline-block
      margin-left 30px

      .Button
        padding 10px