@import '../../constants'

.HeaderSection
  position fixed
  background white
  z-index 100
  padding websitePadding * 0.5 websitePadding * 0.5 10px websitePadding * 0.5

  .logo
    display inline-block
    margin-left 10px
    width 120px

  .nav
    display inline-block
    vertical-align top

    li
      display inline-block
      margin-left 30px

      .Button
        padding 10px 20px
        font-size fontSizeLarge

        &:hover:not(.solid)
          background #eee

  .social-buttons
    float right
    display inline-block

    li
      display inline-block
      margin-left 30px

      .Button
        padding 10px

        .icon
          width 25px
          vertical-align middle